#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#main-form {
  margin-top: 20vh;
}

#form-url-input {
  font-size: 2vw;
  width: 40vw;
}

#submit-url {
  font-size: 2vw;
}

#header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #5181b8;
  height: 10vh;
  width: 100vw;
  align-content: center;
}

#main-logo {
  width: 20vw;
  height: 7vh;
  margin-left: 2vw;
  font-size: 5vh;
  color: white;
  align-self: center;
}

#history-link {
  margin-left: 1vw;
  width: 10vw;
  height: 5vh;
  font-size: 4vh;
  color: white;
}

#login-form {
  margin-top: 10vh;
  font-size: 2vh;
}

.input-login {
  width: 30vw;
  font-size: 3vh;
  margin-top: 1vh;
}

.login-button {
  font-size: 2vh;
  width: 12vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#user-block {
  font-size: 3vh;
  position: absolute;
  right: 1vw;
  top: 4.5vh;
  display: flex;
  flex-direction: row;
}

#greeting {
  margin-right: 1vw;
}

#login-link {
  color: white;
}

#history-title {
  margin-top: 4vh;
  font-size: 4vh;
  color: gray;
}

#history-table {
  border-collapse: collapse;
  font-size: 3vh;
  width: 80vw;
}

.history-th {
  border: 1px solid gray;
  font-weight: normal;
}

.history-td {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  border: 1px solid gray;
  text-align: center;
  max-height: 1vh;
  max-width: 15vw;
}

.num-column {
  border: 1px solid gray;
  width: 5vw;
  text-align: center;
}

#output-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 40vw;
  font-size: 2vw;
}

#output {

  font-size: 2vw;
  align-self: center;
}

#copy-button {
  height: 4vh;
  margin-left: 10vw;
}